
@media (0px <= width <= 1200px) {
	.navbar--left__li {
		display: none;
	}

	.navbar--right .burger-menu{
		display:block;

	}
}
@media (0px <= width <= 700px) {
	.but {
		display: none;
	}
	
}

@media (0px <= width <= 1200px) {
.section-email{
	.usage-benefits-container{
		.benefits{
			.benefit{
				width: 90%;
			}
		}
	}
}	
}

@media (0px <= width <= 1200px) {
	.section-functionals{
		.solutions-container{
			.solutions-container__wrapper{
				height: auto;
				.solutions-div1{
					width: 80vw;
					.link{
						.dropdown{
							text-align: center;
						}
					}
				}
				flex-direction: column;
				align-items: center;
				.solutions-div2{

					height: 50vw;
				}
			}
		}
	}	
	}
	





@media (0px <= width <= 700px) {
	.try-it-out-container {
		
		align-items: center;

		.try-it-out-container__title{
			text-align: center
		}
		;
		}
	}
	
	@media (0px <= width <= 700px) {
		.section-email{
		.try-it-out-img{
			display: none;
		}
}
		}

		@media (0px <= width <= 700px) {
			.section-about{
				.use-cases-container{
					.cases-label{
						background-color: transparent;
						
					}
					.use-case-content{
						flex-direction: column;
						align-items: center;
						.preview-more{
							margin-right: auto;
							justify-content: center;
						}

					
						.preview__text--first{
							text-align: center;
						}
					}
				}
			}
				}

				.footer{
					.sub-footer{
					text-align: center;
					}
				}

				@media screen and (max-width: 700px){
					.box{
					  width: 70%;
					}
					.email-popup{
					  width: 70%;
					}
				  }