$color_1: #1C3252;
$color_2: #40C000;
$color_3: white;
$color_4: #7776FB;
$color_5: grey;
$font-family_1: mainfont;
$background-color_3: transparent;
$background-color_4: #3A7D5A;;
$background-color_5: #1C5739;
$background-color_6: #FDFBFC;
$background-color_7: rgb(255, 255, 255);
$background-color_8: red;
$background-color_9: #397C50;
$background-color_10: rgba(195, 209, 229, 0.2);
$background-color_11: rgb(108, 107, 251);

//auto
$background-color_12:#145234;
$background-color_13:#3A7D5A;
$background-color_14:#0E0E0E;
$background-color_1: #FDFBFC;
$background-color_2: #F2F2F2;
$background-color_69: #F5F6F8;
