

.section-home {
    background: linear-gradient($background-color_1 0%, $background-color_1  calc(100% - 100px), rgb(255, 255, 255) calc(100% - 100px), rgb(255, 255, 255) 100%);
    background-color: $background-color_1;
    padding-top: 8rem;
    .hello-container {
       
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2vw;
        padding: 2vw;
    
            h1 {
                font-size: clamp(2.2rem, 3.5vw , 1000px);
                text-align: center;
            }
        
            h2 {
                font-size: clamp(0.8rem, 1.5vw , 1000px);
                text-align: center;
            }
        
        &__button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2vw;
            padding: 0 10vw;
            > *{
                min-width: fit-content;
                flex: 1;
                background-color:$background-color_69;
                cursor: pointer;
                flex-wrap: wrap;
                padding: 1rem 3rem;
                text-align: center;
                text-decoration: none;
                font-size: clamp(1rem, 1vw , 1000px);
                border-radius: 3px;
                border: 1px solid #756C66;
                transition: 0.3s;
                img{
                    translate: 0 3px;
                }
            }
            .button {
             
                &:hover {
                    background-color:rgba(174, 186, 205, 0.2);
                }
            }
            .button-container__button--secondary {
                background-color: $background-color_3;
                color: $background-color_12;
                border: 1px solid darkslategrey;
                &:hover {
                    background-color: $background-color_12;
                    color: $color_3;
                }
            }
        }
            h2 {
                text-align: center;
                font-size: clamp(0.5rem , 1vw, 1000px);
                color: $color_5;
                
            }
    }
    .hello-video {
        width:clamp(20rem, 60% , 2000px);
        margin: 0 auto;
        aspect-ratio: 2 / 1;

        video {
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px -3px;
            width: 100%;
            object-fit: cover;
        }
    }
}




