@mixin flexcenter{
	display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;

}



.section-functionals {
    #first{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown1{
                               border-bottom: 1px solid;

                            }
                            .dropsvg1{
                                rotate: 180deg;
                            }
                            .submenu-items1{
                                visibility: visible;
                                max-height: 1000px;
                                opacity: 1;
                                transition: 0.3s;
                                height: auto;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/9886531.jpg);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }
    #second{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    
                    .solutions-div1{
                        
                        .solutions-container__wrapper{
                            .dropdown2{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg2{
                                rotate: 180deg;
                            }
                            .submenu-items2{
                                visibility: visible;
                                max-height: 1000px;
                                opacity: 1;
                                height: auto;
                                transition: 0.3s;

                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/3226080_43025.svg);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }   #third{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown3{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg3{
                                rotate: 180deg;
                            }
                            .submenu-items3{
                                visibility: visible;
                                max-height: 1000px;
                                opacity: 1;
                                height: auto;
                                transition: 0.3s;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/11667633_20945487.svg);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }   #fourth{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown4{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg4{
                                rotate: 180deg;
                            }
                            .submenu-items4{
                                visibility: visible;
                                max-height: 1000px;
                                opacity: 1;
                                height: auto;
                                transition: 0.3s;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/useAnySignatureType.webp);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }   #fifth{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown5{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg5{
                                rotate: 180deg;
                            }
                            .submenu-items5{
                                visibility: visible;
                                opacity: 1;
                                height: auto;
                                transition: 0.3s;
                                max-height: 1000px;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/integrateInYourApps.webp);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }

    #sixth{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown6{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg6{
                                rotate: 180deg;
                            }
                            .submenu-items6{
                                visibility: visible;
                                opacity: 1;
                                height: auto;
                                transition: 0.3s;
                                max-height: 1000px;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/integrateInYourApps.webp);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }
    #seventh{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown7{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg7{
                                rotate: 180deg;
                            }
                            .submenu-items7{
                                visibility: visible;
                                opacity: 1;
                                height: auto;
                                transition: 0.3s;
                                max-height: 1000px;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/integrateInYourApps.webp);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }
    #eighth{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown8{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg8{
                                rotate: 180deg;
                            }
                            .submenu-items8{
                                opacity: 1;
                                visibility: visible;
                                height: auto;
                                transition: 0.3s;
                                max-height: 1000px;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/integrateInYourApps.webp);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }
    #nineth{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown9{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg9{
                                rotate: 180deg;
                            }
                            .submenu-items9{
                                visibility: visible;
                                opacity: 1;
                                height: auto;
                                transition: 0.3s;
                                max-height: 1000px;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/integrateInYourApps.webp);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }
    #tenth{
        display: none;
        &:checked{
           ~ .solutions-container{
                .solutions-container__wrapper{
                    .solutions-div1{
                        .solutions-container__wrapper{
                            .dropdown10{
                                border-bottom: 1px solid;
 
                             }
                            .dropsvg10{
                                rotate: 180deg;
                            }
                            .submenu-items10{
                                opacity: 1;
                                visibility: visible;
                                height: auto;
                                transition: 0.3s;
                                max-height: 1000px;
                            }
                        }
                    }
                    .solutions-div2{
                        background-image:url(./picures/integrateInYourApps.webp);
                        background-repeat:no-repeat;
                        background-size:contain;
                        background-position:center;
                    }
                }
            }
        }
    }
    
    .solutions-container{
        background-color: white;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        .solutions-container__solutions-text{
            margin: 3rem;
            h1{
                text-align: center;
                font-size: clamp(2rem,2vw,1000px);
            }
        }
        .solutions-container__wrapper{
            display: flex;
            height: auto;
            
            gap: 2rem;
            height: 55vw;
            >*{
                flex: 1;
                max-width: 80rem;
            }
            .solutions-div1{
                .solutions-container__wrapper{
                    .accordion-menu{
                        .link {
                            list-style: none;
                            flex-direction: column;
                            .dropdown{
                                background-color: rgb(247, 247, 247);
                                padding: 10px;
                                border: 3px;
                                display: flex;
                                cursor: pointer;
                                align-items: center;
                                width: 100%;
                               font-size: clamp(10px, 0.5vw, 1000px);    
                               gap: 1rem;     
                              .dropsvg{
                                margin-left: auto;
                                transition: 0.3s;


                            }
                            .dge{

                                width: 100%;
                            }

                              .itemsvg{
                                aspect-ratio: 1/1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $background-color_12;
                                border-radius: 50%;
                                width: clamp(3rem,3vw,1000px);
                                img{
                                    width: 100%;
                                    scale: 0.65;
                                }
                              }
                            }
                       
                            .submenu-items{
                                padding-left: 1.5rem;
                                transition: 0.2s;
                                width: 100%;
                                opacity: 0;
                                max-height: 0;
                                visibility: hidden;
                                gap: 10px;
                                li{
                                    flex: 1;
                                    font-size: 14px;
                                }
                            }
                        }                   
                    }
        
                }
            }
            .solutions-div2{
        @include flexcenter();
                scale: 0.8;
            }
        }
    }
}

