

.section-technical-characteristics{

    h1{
        display: flex;
        font-size: 1.5rem;
        text-align: center;
    }
    .box {
        width: 100%;
        padding: 20px;
        border-radius: 3px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        >*{
     
            border-radius: 3px;
            flex: 1;
            flex-basis: 12rem;
            padding: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background-color_5;
            color: white;
        }
    }

}

